<head>
  <title>{{site.title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preload" href="{{ "/assets/css/w3.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ "/assets/css/w3.css" | relative_url }}"></noscript>

  <link rel="preload" href="{{ "/assets/css/main.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}"></noscript>

  <link rel="preload" href="{{ "/assets/fa/css/brands.min.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ "/assets/fa/css/brands.min.css" | relative_url }}"></noscript>

  <link rel="preload" href="{{ "/assets/css/materialize.min.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ "/assets/css/materialize.min.css" | relative_url }}"></noscript>

  <link rel="shortcut icon" href="favicon.ico" />

  <link rel="manifest" type="application/json" href="{{ "/manifest.json" | relative_url }}">

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Pampa Bocca">
  <link rel="apple-touch-icon" href="assets/img/icons/icon-152x152.png">

  <!-- CODELAB: Add description here -->
  <meta name="description" content="Un site sur les plantes">

  <!-- CODELAB: Add meta theme-color -->
  <meta name="theme-color" content="#009962" />
    {%- feed_meta -%}

  <script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('{{ '/service-worker.js' | relative_url }}')
          .then((reg) => {
            console.log('Service worker registered.', reg);
          });
    });
  }
  </script>

  <script src="{{ "/assets/js/native.fun.js" | relative_url }}"></script>

</head>
