.brand-chill {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  text-transform: uppercase;
  text-transform: none !important;
	text-decoration: none;
  color: white !important; }

.brand-coding {
  font-weight: 700; }

.brand-o {
  color: #35E0B4; }

.brand-chill:hover {
  text-decoration: none;
  color: #00274a; }

.w3-black a {
  color: white !important;
}

.w3-top {
    z-index: 2 !important;
}

/*!
 * Font Awesome Free 5.13.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.fa-instagram:before {
  content: "\f16d"; }
